<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{general.title.error}">Access Denied</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>

<body>

<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<div class="page-title" th:text="#{general.accDenied}">Access Denied!</div>
<h3 style="color:red;" th:text="#{general.message.accDenied}">Sorry, you can not access this page!</h3>

<th:block th:include="/_footer"></th:block>

</body>
</html>