<div class="menu-container"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
    <a th:href="@{/}" th:text="#{general.home}">Home</a>
    |
    <a th:href="@{/productList}" th:text="#{general.productList}">
        Product List
    </a>
    |
    <a th:href="@{/shoppingCart}" th:text="#{general.shoppingCart}">
        My Cart
    </a>
    |
    <th:block sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')">
        <a th:href="@{/admin/orderList}" th:text="#{general.orderList}">
            Order List
        </a>
        |
    </th:block>
    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
        <a th:href="@{/admin/product}" th:text="#{general.createProduct}">
            Create Product
        </a>
        |
    </th:block>
</div>