<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{general.title.accountInfo}">Account Info</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>

<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<div class="page-title" th:text="#{general.title.accountInfo}">Account Info</div>
<div class="account-container">
    <ul>
        <li><span th:text="#{general.userLogin}">User Login:</span><span th:utext="${userDetails.login}"></span></li>
        <li><span th:text="#{general.userName}">User Name:</span> <span th:utext="${userDetails.username}"></span></li>
        <li><span th:text="#{general.userLastName}">Last Name:</span> <span th:utext="${userDetails.userLastName}"></span></li>
        <li><span th:text="#{general.email}">Email:</span> <span th:utext="${userDetails.email}"></span></li>
        <li><span th:text="#{general.role}">Role:</span>
            <ul>
                <li th:each="auth : *{userDetails.authorities}" th:utext="${auth.authority}"></li>
            </ul>
        </li>
    </ul>
</div>

<th:block th:include="/_footer"></th:block>

</body>
</html>