<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="#{general.title.index}">Books Shop Online</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>
<body>
<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<div class="page-title" th:text="#{general.title.index}">Shopping Cart Demo</div>
<div class="demo-container">
    <h3 th:text="#{general.hello}">Hello</h3>

</div>

<th:block th:include="/_footer"></th:block>

</body>
</html>