<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{general.title.login}">Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<div class="page-title" th:text="#{general.title.login}">Login (For User, Admin)</div>

<div class="login-container">
    <h3 th:text="#{general.message.enterCred}">Enter username and password</h3>
    <br>
    <!-- /login?error=true -->
    <th:block th:if="${#session != null && #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}">
        <div th:if= "${#request.getParameter('error') == 'true'}"
             style="color: red; margin: 10px 0px;"
			 th:text="#{general.message.loginFaild}">
            Login Failed!!!<br /> 
			Reason :
            <span th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}"></span>
        </div>
    </th:block>

    <form method="POST"
          th:action="@{/j_spring_security_check}">
        <table>
            <tr>
                <td th:text="#{general.userLogin}">User Name *</td>
                <td><input name="userName" /></td>
            </tr>
            <tr>
                <td th:text="#{general.userPass}">Password *</td>
                <td><input type="password" name="password" /></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" th:value="#{general.login}"/>
                    <input type="reset"  th:value="#{general.reset}"/>
                </td>
            </tr>
        </table>
    </form>

    <span class="error-message" th:utext="${error}"></span>
</div>

<div style="text-align:left">
    <h3>User/Password:</h3>
    <ul>
        <li>user/123</li>
        <li>admin/123</li>
    </ul>
</div>

<th:block th:include="/_footer"></th:block>

</body>
</html>