<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{general.productList}">Product List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<div class="page-title" th:text="#{general.orderInfo}">Order Info</div>

<div class="customer-info-container">
    <h3 th:text="#{general.customerInfo}">Customer Information:</h3>
    <ul>
        <li><span th:text="#{general.customerName}">Name: </span><span th:utext="${orderInfo.customerName}"></span></li>
        <li><span th:text="#{general.customerEmail}">Email: </span><span th:utext="${orderInfo.customerEmail}"></span></li>
        <li><span th:text="#{general.customerPhone}">Phone: </span><span th:utext="${orderInfo.customerPhone}"></span></li>
        <li><span th:text="#{general.customerAddress}">Address: </span><span th:utext="${orderInfo.customerAddress}"></span></li>
    </ul>
    <h3 th:text="#{general.orderSumm}">Order Summary:</h3>
    <ul>
        <li><span th:text="#{general.inTotal}">Total:</span>
            <span class="total" th:utext="${#numbers.formatDecimal(orderInfo.amount,3,2,'COMMA')}">
               </span>
        </li>
    </ul>
</div>
<br/>
<table border="1" style="width:100%">
    <tr>
        <th th:text="#{general.productCode}">Product Code</th>
        <th th:text="#{general.productName}">Product Name</th>
        <th th:text="#{general.productQuantity}">Quantity</th>
        <th th:text="#{general.productPrice}">Price</th>
        <th th:text="#{general.productAmount}">Amount</th>
    </tr>
    <tr th:each="orderDetailInfo : ${orderInfo.details}">
        <td th:utext="${orderDetailInfo.productCode}"></td>
        <td th:utext="${orderDetailInfo.productName}"></td>
        <td th:utext="${orderDetailInfo.quanity}"></td>
        <td th:utext="${#numbers.formatDecimal(orderDetailInfo.price,3,2,'COMMA')}"></td>
        <td th:utext="${#numbers.formatDecimal(orderDetailInfo.amount,3,2,'COMMA')}"></td>
    </tr>
</table>

<th:block th:include="/_footer"></th:block>

</body>
</html>