<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{general.product}">Product</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>

<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<div class="page-title" th:text="#{general.product}">Product</div>
<div th:if="${errorMessage!= null}" class="error-message" th:utext="${errorMessage}">
</div>

<form  th:object="${productForm}" th:action="@{/admin/product}"
       method="POST" enctype="multipart/form-data">
    <table style="text-align:left;">
        <tr>
            <td th:text="#{general.productCode}">Code *</td>
            <td style="color:red;">
                <input th:field="*{newProduct}" type="hidden" />
                <input th:if="${productForm.newProduct}" type="text"
                       th:field="*{code}" />
                <th:block th:if="${!productForm.newProduct}">
                    <span th:utext="${productForm.code}"></span>
                    <input type="hidden" th:field="*{code}" />
                </th:block>
            </td>
            <td>
                <span class="error-message" th:if="${#fields.hasErrors('code')}" th:errors="*{code}">..</span>
            </td>
        </tr>
        <tr>
            <td th:text="#{general.productName}">Name *</td>
            <td><input th:field="*{name}"  /></td>
            <td>
                <span class="error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">..</span>
            </td>
        </tr>
        <tr>
            <td th:text="#{general.productPrice}">Price *</td>
            <td><input th:field="*{price}"  /></td>
            <td>
                <span class="error-message" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">..</span>
            </td>
        </tr>
        <tr>
            <td th:text="#{general.productImage}">Image</td>
            <td>
                <img th:src="@{|/productImage?code=${productForm.code}|}" width="100"/>
            </td>
            <td> </td>
        </tr>
        <tr>
            <td th:text="#{general.productUploadImage}">Upload Image</td>
            <td><input type="file" th:field="*{fileData}" /></td>
            <td> </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit" th:value="#{general.submit}"/>
                <input type="reset" th:value="#{general.reset}"/>
            </td>
        </tr>
    </table>
</form>

<th:block th:include="/_footer"></th:block>

</body>
</html>