<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{general.title.finalize}">Shopping Cart Finalize</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>

<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<div class="page-title">Finalize</div>
<div class="container">
    <h3 th:text="#{general.message.thankYou}">Thank you for Order</h3>
    <th th:text="#{general.message.orderNum}"/>Your order number is: <span th:utext="${lastOrderedCart.orderNum}"></span>
</div>

<th:block th:include="/_footer"></th:block>

</body>
</html>