<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{general.shoppingCart}">Shopping Cart</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<div class="page-title" th:text="#{general.myCart}">My Cart</div>

<th:block th:if="${cartForm == null || cartForm.cartLines == null || cartForm.cartLines.empty}">
    <h2 th:text="#{general.message.noItem}">There is no items in Cart</h2>
    <a th:href="@{/productList}" th:text="#{general.showProductList}">Show Product List</a>
</th:block>

<th:block th:if="${cartForm != null && cartForm.cartLines != null && !cartForm.cartLines.empty}">
    <form method="POST" th:object="${cartForm}" th:action="@{/shoppingCart}">

        <div class="product-preview-container"
             th:each="cartLineInfo, varStatus : ${cartForm.cartLines}">
            <ul>
                <li><img class="product-image"
                         th:src="@{|/productImage?code=${cartLineInfo.productInfo.code}|}" />
                </li>
                <li><span th:text="#{general.productCode}">Code:</span> <span th:utext="${cartLineInfo.productInfo.code}"></span>
                    <input type="hidden"
                           th:name="|cartLines[${varStatus.index}].productInfo.code|"
                           th:value="${cartLineInfo.productInfo.code}" />
                </li>
                <li> <span th:text="#{general.productName}">Name:</span> <span th:utext="${cartLineInfo.productInfo.name}"></span></li>
                <li> <span th:text="#{general.productPrice}">Price:</span>
                    <span class="price"
                          th:utext="${#numbers.formatDecimal(cartLineInfo.productInfo.price,3,2,'COMMA')}">
                        </span>
                </li>
                <li><span th:text="#{general.productQuantity}">Quantity:</span>
                    <input
                            th:name="|cartLines[${varStatus.index}].quantity|"
                            th:value="${cartLineInfo.quantity}" />
                </li>
                <li><span th:text="#{general.subtotal}">Subtotal:</span>
                    <span class="subtotal"
                          th:utext="${#numbers.formatDecimal(cartLineInfo.amount,3,2,'COMMA')}">
                        </span>
                </li>
                <li>
                    <a th:href="@{|/shoppingCartRemoveProduct?code=${cartLineInfo.productInfo.code}|}" th:text="#{general.delete}">
                        Delete
                    </a>
                </li>
            </ul>
        </div>

        <div style="clear: both"></div>
        <input class="button-update-sc" type="submit" th:value="#{general.updateQuantity}" />
        <a class="navi-item"
           th:href="@{/shoppingCartCustomer}" th:text="#{general.message.CustomerInfo}">Enter Customer Info</a>
        <a class="navi-item"
           th:href="@{/productList}" th:text="#{general.message.ContinueBuy}">Continue Buy</a>
    </form>
</th:block>

<th:block th:include="/_footer"></th:block>

</body>
</html>
