<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{general.title.cartConfirmation}">Shopping Cart Confirmation</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<div class="page-title" th:text="#{general.confirmation}">Confirmation</div>
<div class="customer-info-container">
    <h3 th:text="#{general.customerInfo}">Customer Information:</h3>
    <ul>
        <li><span th:text="#{general.customerName}">Name: </span><span th:utext="${myCart.customerInfo.name}"></span></li>
        <li><span th:text="#{general.customerEmail}">Email: </span><span th:utext="${myCart.customerInfo.email}"></span></li>
        <li><span th:text="#{general.customerPhone}">Phone:</span> <span th:utext="${myCart.customerInfo.phone}"></span></li>
        <li><span th:text="#{general.customerAddress}">Address: </span><span th:utext="${myCart.customerInfo.address}"></span></li>
    </ul>
    <h3 th:text="#{general.cartSumm}">Cart Summary:</h3>
    <ul>
        <li><span th:text="#{general.productQuantity}">Quantity:</span> <span th:utext="${myCart.quantityTotal}"></span></li>
        <li><span th:text="#{general.inTotal}">Total:</span>
            <span class="total"
                  th:utext="${#numbers.formatDecimal(myCart.amountTotal,3,2,'COMMA')}">
               </span>
        </li>
    </ul>
</div>
<form method="POST" th:action="@{/shoppingCartConfirmation}">
    <!-- Edit Cart -->
    <a class="navi-item" th:href="@{/shoppingCart}" th:text="#{general.editCart}">
        Edit Cart
    </a>
    <!-- Edit Customer Info -->
    <a class="navi-item" th:href="@{/shoppingCartCustomer}" th:text="#{general.editCustomerInfo}">
        Edit Customer Info
    </a>
    <!-- Send/Save -->
    <input type="submit" value="Send" class="button-send-sc" />
</form>
<div class="container">
    <div class="product-preview-container" th:each="cartLineInfo : ${myCart.cartLines}">
        <ul>
            <li>
                <img class="product-image"
                     th:src="@{|/productImage?code=${cartLineInfo.productInfo.code}|}" />
            </li>
            <li> <span th:text="#{general.productCode}">Code:</span> <span th:utext="${cartLineInfo.productInfo.code}"></span>
                <input
                        type="hidden" name="code" th:value="${cartLineInfo.productInfo.code}" />
            </li>
            <li> <span th:text="#{general.productName}">Name:</span> <span th:utext="${cartLineInfo.productInfo.name}"></span></li>
            <li> <span th:text="#{general.productPrice}">Price:</span>
                <span class="price"
                      th:utext="${#numbers.formatDecimal(cartLineInfo.productInfo.price,3,2,'COMMA')}">
                  </span>
            </li>
            <li> <span th:text="#{general.productQuantity}">Quantity: </span><span th:utext="${cartLineInfo.quantity}"></span></li>
            <li> <span th:text="#{general.subtotal}">Subtotal:</span>
                <span class="subtotal"
                      th:utext="${#numbers.formatDecimal(cartLineInfo.amount,3,2,'COMMA')}">
                  </span>
            </li>
        </ul>
    </div>
</div>

<th:block th:include="/_footer"></th:block>

</body>
</html>